<header class="site-header" id="site-header">
    <div class="site-header__inner">
        <a class="site-header__brand" href="index.html#hero">
            <span class="site-header__brand-media">
                <img
                    class="site-header__brand-logo"
                    src="src/graphics/png/logo.png"
                    alt="Логотип Фулфилмент Ереван"
                    width="458"
                    height="408"
                >
            </span>
            <span class="site-header__brand-text">Фулфилмент Ереван</span>
        </a>
        <nav class="site-header__nav" aria-label="Primary navigation">
            <a class="site-header__link" href="about.html">О нас</a>
            <a class="site-header__link" href="index.html#process">Как работаем</a>
            <a class="site-header__link" href="index.html#included">Что входит</a>
            <a class="site-header__link" href="index.html#cases">Кейсы</a>
            <a class="site-header__link" href="index.html#faq">FAQ</a>
        </nav>
        <a class="button button--secondary site-header__cta" href="#final-cta">Получить расчёт</a>
    </div>
</header>
